# Default server
server {
    listen 127.0.0.1:8080;
    server_name example.com;
    index inddex.html;
    #autoindex on;
    root  www;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50xd.html;
    
    # Default location
    location /
    {
        index indedx.html indexs.html ;
        allow_methods GET POST;
        autoindex on;
    }
    
    # Location with directory listing enabled
    location /files {
        allow_methods GET HEAD;
        autoindex on ;
    }
    location /loop {
    return 301 https://www.googleadservices.com/pagead/aclk?sa=L&ai=DChsSEwjfkuXhzIOOAxXcmIMHHYIXAZ8YACICCAEQABoCZWY&co=1&gclid=Cj0KCQjwsNnCBhDRARIsAEzia4B-gkGnBIiy8ekwuzvpHe-Dk-2RPfw3hNpXmIzWX4CSCrlSYCTM5sIaAr60EALw_wcB&ohost=www.google.com&cid=CAESVuD2A3gYfrgS20DjoG_-YTYEEVZcHhrLzu34m_wMAfpZzn2lPoaB60MKjToxjGxps6ZJEd3W07HLXiPxtMGTh3DGEXORnM4MkveW5zwWqhjXS_T40sZY&sig=AOD64_3xQdO5iZtZ_YgiP_WpJqdERCZK6w&q&adurl&ved=2ahUKEwi7m-DhzIOOAxWIgP0HHYAxLsIQ0Qx6BAgNEAE;
    }
    # Redirection example
    location /old-page {
        return 301 /new-page;
    }
    
    # CGI location
    location /cgi-bin/ {
        cgi_path /bin/python3 /bin/php   /bin/bash;
        cgi_extension .py .php .cgi;
        allow_methods GET POST;
        autoindex on;
    }
    
    # File upload handling
    location /uploads {
        allow_methods GET POST;
        client_max_body_size 5G;
        upload_store www/uploads/tesssst;
        autoindex on;
    }
}
