# Default server
server {
    listen 127.0.0.1:8080;
    server_name example.com;
    index inddex.html;
    #autoindex on;
    root  www;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50xd.html;
    
    # Default location
    location /
    {
        index indedx.html indexs.html ;
        allow_methods GET POST;
        autoindex on;
    }
    
    # Location with directory listing enabled
    location /files {
        index index.html;
        allow_methods GET HEAD;
        autoindex off ;
    }
    location /loop {
    return 301 /loop;
    }
    # Redirection example
    location /old-page {
        return 301 /new-page;
    }
    
    # CGI location
    location /cgi-bin/ {
        cgi_path /opt/homebrew/bin/python3 /bin/php /bin/bash;
        cgi_extension .py .php .cgi;
        allow_methods GET POST;
        autoindex on;
    }
    
    # File upload handling
    location /upload {
        root /var/www/uploads;
        allow_methods POST;
        client_max_body_size 5G;
        upload_store /var/www/uploads/files;
    }
}