# Default server
server {
    listen 127.0.0.1:8081;
    server_name webserv.com;
    index inddex.html;
    #autoindex on;
    root  www/server1;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50xd.html;
    
    # Default location
    location /
    {
        index indedx.html indexs.html ;
        allow_methods GET POST;
        autoindex on;
    }

}


# Default server
server {
    listen 127.0.0.1:8080;
    server_name example.com;
    index inddex.html;
    #autoindex on;
    root  www/server2;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50xd.html;
    
    # Default location
    location /
    {
        index indedx.html indexs.html ;
        allow_methods GET POST;
        autoindex on;
    }

}


# Default server
server {
    listen 127.0.0.1:8080;
    server_name test.local;
    index inddex.html;
    #autoindex on;
    root  www/server3;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50xd.html;
    
    # Default location
    location /
    {
        index indedx.html indexs.html ;
        allow_methods GET POST;
        autoindex on;
    }

}


