# Default server
server {
    listen 127.0.0.1:8080;
    server_name Server1;
    index inddex.html;
    #autoindex on;
    root  /Users/aezzahir/Dev/webserv/www;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50x.html;
    
    # Default location
    location / {
        index indesx.html indexs.html ;
        allow_methods  GET POST;
        autoindex on;
    }
    # CGI location
    location /cgi-bin/ {
        root /Users/aezzahir/Dev/webserv/www;
        cgi_path /opt/homebrew/bin/python3 /bin/php /bin/bash;
        cgi_extension .py .php .cgi;
        allow_methods GET POST;
        autoindex on;
    }
}

# Default server
server {
    listen 127.0.0.1:8081;
    server_name Server2;
    index inddex.html;
    #autoindex on;
    root  /Users/aezzahir/Dev/webserv/www/new;
    
    # Error pages
    error_page 404 /404.html;
    error_page  400 403 400 500 502 503 504 50x.html;
    
    # Default location
    location / {
        root /Users/aezzahir/Dev/webserv/www/new;
        index index.html ;
        allow_methods  GET POST;
        autoindex on;
    }
}