#this is a comments



server {         #also a commennt is here                                       
        listen        one.example.com;
        server_name   one.example.com  www.one.example.com;
        location = /404.html {
            root  /spool/www;
            location = /404.html {
                    root  /spool/www;
                    location = /404.html {
                                root  /spool/www;
                    }
                }
        }
}